:root {
  --c-text-main: #111111;
  --c-text-secondary: #ffffff;
  --c-accent: #fd9222;
  --bgc-body: #fafafa;
  --bgc-dark: #1e1823;
  --bgc-light-button: #fcf1e0;
  --bgc-slider-dots: rgba(17, 17, 17, 0.1);
  --transition-brd: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-c: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-visibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-stroke: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: var(--main-font-size);
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 374.98px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 32px;
  }
}

.advantages {
  background-color: var(--bgc-dark);
}

.advantages__item {
  width: 308px;
}

.advantages__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  margin-bottom: 22px;
  color: var(--c-accent);
}

.advantages__svg {
  fill: currentColor;
}

.advantages__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--c-text-secondary);
  margin-bottom: 18px;
}

.advantages__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 374.98px) {
  .advantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .advantages__item {
    max-width: 250px;
    margin-bottom: 20px;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .advantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .advantages__item {
    margin-bottom: 20px;
    min-height: 244px;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
    min-height: 225px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 85px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages .container {
    padding: 0 50px;
  }

  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 88px;
  }
  .advantages__item {
    position: relative;
  }

  .advantages__item:not(:last-child):after {
    position: absolute;
    top: 54px;
    right: -18px;
    content: "";
    width: 0;
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

/* MODAL */

.review-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: var(--transition-opacity), var(--transition-visibility);
}

/* .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

.review-modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 628px;
  min-width: 517px;
  padding: 40px;
  background: var(--bgc-body);
  border-radius: 15px;
  transition: var(--transition-transform);
}

.review-modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 7px;
  cursor: pointer;
  color: var(--c-text-main);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: var(--transition-c), var(--transition-bgc);
}

.review-modal__close:hover,
.review-modal__close:focus {
  color: var(--c-accent);
  background-color: var(--bgc-light-button);
}

.review-modal__icon {
  display: block;
  stroke: currentColor;
  width: 14px;
  height: 14px;
}

.review-modal__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--c-text-main);
  max-width: 298px;
  margin-bottom: 40px;
}

.review-modal__title_orange {
  color: var(--c-accent);
}

.review-modal__form {
  display: flex;
  flex-direction: column;
}

.review-form__input {
  width: 100%;
  height: 66px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  margin-bottom: 18px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-duration-and-func);
}

.review-form__input:focus {
  outline: none;
  border-color: var(--c-accent);
}

.review-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.review-form__message {
  display: block;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  margin-bottom: 18px;
  outline: transparent;
  resize: none;
  transition: var(--transition-brd);
}

.review-form__message:focus {
  outline: none;
  border-color: var(--c-accent);
}

.review-form__message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.review-form__submit {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--c-text-secondary);
  font-family: inherit;
  background-color: var(--c-accent);
  cursor: pointer;
  border-radius: 100px;
  padding: 14px 40px;
  display: block;
  width: 117px;
  height: 45px;
  border: none;
  transition: var(--transition-bgc), var(--transition-c);
}

.review-form__submit:hover,
.review-form__submit:focus {
  color: var(--c-accent);
  background-color: var(--bgc-light-button);
}

/* INPUT-EMAIL */

.review-modal__container-form {
  position: relative;
  display: block;
  margin-bottom: 18px;
}

.review-modal__icon-input {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.review-modal__icon-text {
  position: absolute;
  top: 50%;
  left: 74px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #000000;
}

.review-modal__icon-text::after {
  display: block;
  margin-left: 32px;
  content: "";
  height: 32px;
  border: 1px solid rgba(64, 64, 64, 0.3);
}

.review-form__input_phone {
  padding: 21px 23px 21px 177px;
  margin-bottom: 0;
}

@media screen and (max-width: 767.98px) {
  .review-modal__inner {
    width: 311px;
    height: 471px;
  }

  .review-modal__inner {
    padding: 32px 24px;
  }

  .review-modal__title {
    font-size: 20px;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 32px;
  }

  .review-form__input {
    height: 45px;
    padding: 14px 18px;
    margin-bottom: 18px;
  }

  .review-form__message {
    height: 91px;
    padding: 14px 18px;
    font-size: 14px;
    line-height: 1.2;
  }

  .review-form__input::placeholder,
  .review-form__message::placeholder {
    font-size: 14px;
    line-height: 1.2;
  }

  .review-form__submit {
    padding: 12px 428px;
    display: block;
    width: 93px;
    height: 41px;
  }
}
