* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, rgb(64, 64, 251), rgb(1, 188, 1));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background: darkblue;
  padding: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.grid > div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgba(48, 48, 57, 0.2);
  border: 0.3vh;
}
